@import "tailwindcss";

:root {
  font-size: 1vmax;
}

.graphtext {
  font: bold 12px sans-serif;
  fill: black;
}

@layer components {
  .btn {
    @apply
      px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-200
      hover:bg-gray-100 hover:text-blue-700
      focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700
      disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btngroup {
    @apply inline-flex rounded-md shadow-sm;
  }

  .select {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  .textarea {
    @apply block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500;
  }

  .textinput {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
  }

  .config-title {
    @apply mb-2 mt-4 text-2xl font-bold;
  }

  .dialog {
    @apply left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 bg-white rounded-lg shadow backdrop:bg-gray-500/70;
  }
  
  .dialog-title {
    @apply p-4 min-h-8 border-b-2 text-4xl font-medium;
  }

  .dialog-body {
    @apply p-6 border-b-2;
  }

  .dialog-buttons {
    @apply p-4 flex justify-end gap-4;
  }

  .deletemode {
    @apply [&>.edge:hover]:stroke-gray-500 [&>.edge:hover]:stroke-2 [&>.vertex:hover]:fill-gray-500;
  }
}